<div
    class="disable-all-cam  animate__animated animate__delay-4s animate__slideInDown custom-control custom-switch text-right">
    <input id="disableCamControls" class="custom-control-input"
        type="checkbox" />
    <label for="disableCamControls" class="custom-control-label bg-transparent">
        <span class="fa-stack fa-2x add-anime p-1" style="font-size: 0.80em;">
            <i class="fas fa-arrows-alt fa-stack-2x text-secondary"></i>
            <i class="fa fa-slash fa-stack-2x text-primary"></i>
        </span>
    </label>
</div>

<nav id="navCamControls"
      class="navCamControls animate__animated animate__slideInDown animate__delay-1s">
    <input type="checkbox" class="camCheckBox" checked="checked"
        id="scrollZoom" />
    <label for="scrollZoom">Scroll Zoom</label>
    <input type="checkbox" class="camCheckBox" checked="checked"
        id="dragRotate" />
    <label for="dragRotate">RgtClk Rotate</label>
    <input type="checkbox" class="camCheckBox" checked="checked" id="dragPan" />
    <label for="dragPan">Drag Pan</label>
    <input type="checkbox" class="camCheckBox" checked="checked"
        id="keyboard" />
    <label for="keyboard">Keyboard</label>

    <input type="checkbox" class="camCheckBox" checked="checked"
        id="touchZoomRotate" />
    <label for="touchZoomRotate">TouchCtrls</label>
</nav>