<div class="calculation-box py-0 animate__animated animate__slideInUp animate__delay-2s"
    style="z-index: 2; position: absolute;">
    <div class="animate__animated animate__infinite  animate__pulse mb-1"
        style="vertical-align: middle;">
        <span id="seconds" class="d-none"></span>
        <span id="secondsIcon"></span>
        <span id="instructions-icon" class="text-lg bg-light text-primary px-1 py-0 rounded-sm mr-1">
        </span>
        <i id="instructions-text" class="text-sm"> Click polygon icon to start drawing </i>
    </div>
    <div class="list-group list-group-horizontal text-xl">
        <a href="#"
            class="text-success p-1 list-group-item list-group-item-action disabled">
            <i class="fas fa-circle-notch text-lg"></i>
            <span id="calc-loop-length"></span>
        </a>
        <a href="#"
            class="text-success p-1 list-group-item list-group-item-action disabled">
            <i class="fas fa-route fa-fw text-xl"></i>
            <span id="calc-route-dist"></span>
        </a>

    </div>

    <div class="list-group list-group-horizontal">
        <a href="#"
            class="text-info p-1 list-group-item list-group-item-action disabled">
            <i class="fas fa-draw-polygon fa-fw text-xl"></i>
            <span id="calculated-distance">51</span>m
        </a>
        <a href="#"
            class="text-info p-1 list-group-item list-group-item-action disabled">
            <i class="fas fa-cube fa-rotate-270 fa-fw text-xl"></i>
            <span id="calculated-area">140</span>m<sup>2</sup>
        </a>

    </div>
</div>