<!-- M E S S A G E   B O X  -->
<span id="message-box" class="overlay bg-primary rounded-lg text-info animate__animated animate__slideInDown animate__delay-3s py-0 px-2">
    <span id="message-text"></span>
</span>
