<!--  S P I N N E R -->
<div class="text-center py-2 animate__animated animate__FadeOutUp">
    <h1 class="spinner-border text-secondary" role="status">
        <span class="fa-2xl disp">
        </span>
    </h1>
</div>