<nav class="navbar navbar-expand navbar-dark bg-primary py-0 sticky-top pl-1"
    style="z-index: 2;">
  <ul class="navbar-nav py-0">
    <li class="nav-item nav-link disabled pt-1 pb-0 px-1">
      <img href="#" alt="main-logo"
          class="img-thumbnail bg-transparent border-0 p-0 m-0"
          src="assets/images/logo/logo-small-square.png"
          style="z-index: 1;height: 22px;">
    </li>
    <li class="nav-item nav-link py-1">
      <div class="custom-checkbox custom-control">
        <input class="custom-control-input" id="show-panel-geo"
            data-target="geo-route-panel" type="checkbox" checked="" />
        <label class="custom-control-label" for="show-panel-geo">
          <i class="fa fa-drafting-compass nav-icon"
          data-intro="geo-route panel"
          ></i>
        </label>
      </div>
    </li>
    <li class="nav-item nav-link py-1">
      <div class="custom-checkbox custom-control">
        <input class="custom-control-input" id="show-panel-cam" type="checkbox"
            checked="" />
        <label class="custom-control-label" for="show-panel-cam">
          <i class="fa-solid fa-camera nav-icon"
          data-intro="camera controls panel"
          ></i>
        </label>
      </div>
    </li>
    <li class="nav-item nav-link py-1">
      <div class="custom-checkbox custom-control">
        <input id="enableSatellite" class="custom-control-input"
            type="checkbox" />
        <label for="enableSatellite" class="custom-control-label">
          <i class="fa fa-satellite nav-icon"
          data-intro="satellite and 3D map"
          ></i>
        </label>
      </div>
    </li>
    <li class="nav-item nav-link py-1">
      <div class="custom-checkbox custom-control">
        <input class="custom-control-input" id="duskModeCkbox" type="checkbox"
            checked="" />
        <label class="custom-control-label" for="duskModeCkbox">
          <i class="fa fa-adjust nav-icon"
          data-intro="dusk and day lights"
          ></i>
        </label>
      </div>
    </li>
    <li class="nav-item nav-link py-1">
      <div class="custom-checkbox custom-control">
        <input class="custom-control-input" id="show-panel-coords"
            type="checkbox" data-target="coords-map-panel" checked="" />
        <label class="custom-control-label" for="show-panel-coords">
          <i class="fas fa-map-marked nav-icon"
            data-intro="map coordinates panel"
          ></i>
        </label>
      </div>
    </li>
    <li class="message-button nav-item nav-link text-info py-1">
      <i class="fas fa-info-circle"></i>
    </li>
  </ul>
</nav>